<!DOCTYPE HTML>
<html>

<head>
  <% include partials/head %>
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <div class="d-flex p-2 flex-column text-center">
    <div class="p-2">
      <h1>New Review for
        <%= album.title %>
      </h1>
    </div>
    <div class="p-2">
      <form method="post" action="/newReview/:albumID/">
        <textarea name="content" rows="15" cols="80"></textarea>
        <br>
        <br>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>

</body>

</html>
