<% include partials/head %>
  <header>
    <% include partials/header %>
  </header>
  <br>

  <p> Logged In Test Page</p>

  <footer class="footer text-center">
    <% include partials/footer %>
  </footer>
